.name {
  color: #f77f00 !important;
}
.bg {
  background-color: #1c2e4a;
  height: 100%;
}
.sec1 {
  max-height: 700px;
}
.sec1 a button,
.message button {
  padding: 0 0 0 1rem;
  border: 1px solid rgb(186, 186, 18);
  border-radius: 2.5rem;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 1s all ease-in-out;
  z-index: 1;
}
.sec1 a button:hover,
.message button:hover {
  border: 1px solid rgb(186, 186, 18);
  background-color: rgb(186, 186, 18);
}
.sec1 a {
  text-decoration: none;
  padding-top: 0;
}
.sec1 a button i,
.message button i {
  margin-left: 1rem;
  padding: 1rem;
  font-weight: bold;
  border: 1px solid rgb(186, 186, 18);
  border-radius: 50%;
  background-color: rgb(186, 186, 18);
}
.hr {
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* About Section */
.aboutSection {
  height: auto;
}
.infos {
  font-weight: 450;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.skillSection {
  height: auto;
  color: white;
}
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill {
  width: 120px;
  height: 120px;
  /* background-color: navy; */
  position: relative;
}
.outer {
  padding: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: rgb(44, 36, 36);
}
.inner {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

#number {
  font-size: 1.6rem;
}
circle {
  fill: none;
  stroke: rgb(186, 186, 18);
  stroke-width: 10px;
  stroke-dasharray: 345;
  /* stroke-dashoffset: 152; */
}
.skill svg {
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0px;
  left: 0px;
}

/* EDUCATION AND EXPERIENCE SECTION */
.resume-box {
  margin-left: 0;
  padding-left: 0;
}
.resume-box ul {
  padding: 0;
}
.resume-box .icon {
  width: 44px;
  height: 44px;
  left: 0;
  right: 0;
  position: absolute;
  line-height: 44px;
  text-align: center;
  z-index: 1;
  background-color: #c2952d;
  border-radius: 50%;
  color: white;
}
.resume-box .icon i::before {
  box-sizing: border-box;
}
.resume-box ul li {
  position: relative;
  padding: 0 40px 0 50px;
  margin: 0 0 50px;
}
.resume-box ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 22px;
  bottom: 0;
  border-left: 1px solid #333;
}
.resume-box .time {
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  background-color: #312f2f;
  border-radius: 20px;
  font-weight: 600;
  opacity: 0.9;
}
.open-sans-font {
  font-family: "Open Sans", sans-serif;
}
@media (min-width: 990px) {
  /* About Section */
  .aboutSection {
    padding-top: 4.2rem;
  }
  .aboutHeading {
    font-size: 4rem;
    font-weight: bold;
  }
  .aboutPic {
    /* border-radius: 50%; */
    width: 100%;
    border-radius: 10%;
    margin-top: 6vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 0 10px 10px 10px rgba(235, 245, 246, 0.2), 0 8px 20px 0 rgba(255, 255, 255, 0.19);; */
  }
  .personalInfo {
    margin-top: 12vh;
    padding-left: 4rem;
  }
  .columnOne h5,
  .columnTwo h5 {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
  }

  /* EDUCATION */
  .resume-box ul li {
    position: relative;
    padding: 0 40px 0 50px;
    margin: 0 0 50px;
  }
}
@media (max-width: 990px) {
  /* About Section */
  .aboutHeading {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .aboutPic {
    /* border-radius: 50%; */
    display: block;
    margin: auto;
    width: 70%;
    border: 2px solid rgb(84, 79, 79);
    border-radius: 50%;
    margin-top: 0;
  }
  .columnOne h5,
  .columnTwo h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
  }

  /* EDUCATION */
  .resume-box ul li {
    position: relative;
    padding: 0 5px 0 50px;
    margin: 0 0 50px;
  }
}

.contactHead {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 15vh;
  /* style={{ position: "relative", alignItems: "center", justifyContent: "center", height: "20vh" }} */
}
.titleShy {
  font-size: 2rem;
  padding: 0;
  margin: 0.2rem 0;
  font-weight: 500;
}
.shyDes {
  text-align: justify;
  margin-bottom: 1rem;
}
.contactType {
  display: flex;
  margin: 1rem 0;
}
.contactIcon i {
  font-size: 2rem;
  color: rgb(208, 208, 29);
}

.contactTitle {
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  opacity: 0.7;
}
.contactDetail {
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: 0.9;
}
.contactLinks {
  display: flex;
  justify-content: center;
}
.social {
  margin: 1rem 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.social li {
  display: inline-block;
}
.social li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  line-height: 42px;
  text-align: center;
  color: white;
  transition: 0.3s;
  font-size: 22px;
  background-color: #2b2a2a;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.msgName,
.msgEmail,
.msgSub,
.msgMsg {
  background-color: #242526;
  color: white;
  border: none;
}
@media (min-width: 990px) {
  .sendMessage {
    padding: 0rem 0rem 1rem 3rem;
  }
  .msgName,
  .msgEmail,
  .msgSub,
  .msgMsg {
    border-radius: 2rem;
    margin: 0.5rem 0;
    padding: 0.7rem 1.2rem;
  }
  .msgMsg {
    height: 13rem;
    margin-bottom: 0;
  }
}
@media (max-width: 990px) {
  .sendMessage {
    padding: 1rem 0rem 2rem 0rem;
  }
  .msgName,
  .msgEmail,
  .msgSub,
  .msgMsg {
    border-radius: 0.5rem;
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
  }
  .msgMsg {
    height: 10rem;
  }
}

.nameEmail {
  display: flex;
  justify-content: space-between;
}
.msgName,
.msgEmail {
  width: 48%;
}
.msgSub,
.msgMsg {
  width: 100%;
}
@media (min-width: 990px) {
  .contactSection {
    padding-top: 5rem;
  }
  .backFont {
    position: absolute;
    display: inline-block;
    font-size: 8rem;
    opacity: 0.1;
  }
  .frontFont {
    position: absolute;
    display: inline-block;
    font-size: 3.5rem;
    font-weight: bold;
    /* style={{ position: "absolute", display: "inline-block" }} */
  }
  /* style={{ position: "absolute", display: "inlin-block",fontSize:"6rem",opacity:'.1' }} */
}
@media (max-width: 990px) {
  .backFont {
    position: absolute;
    display: inline-block;
    font-size: 4.6rem;
    opacity: 0.1;
  }
  .frontFont {
    position: absolute;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
  }
}
